body > table {
  width: 80%;
}

table {
  border-collapse: collapse;
}
table.list {
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even),
table.list thead > tr {
  background-color: #dddddd;
}

input[type='text'],
input[type='number'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: #0000ee;
  margin-right: 4px;
}

label.validation-error {
  color: red;
  margin-left: 5px;
}

.hide {
  display: none;
}

.editar {
  background-color: green;
  color: white;
  padding: 5px;
  border: transparent;
  text-decoration: none;
  text-transform: uppercase;
}

.deletar {
  background-color: red;
  color: white;
  padding: 5px;
  border: transparent;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.enviar {
  width: 200px;
  background-color: #ddd;
  color: #000;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 20px auto 30px;
  text-align: center;
}
.enviar:hover {
  transition: 0.4s;
  transform: scale(1.2);
}

@media (max-width: 870px) {
  .editar,
  .deletar {
    display: block;
    text-align: center;
  }
  .editar {
    margin-bottom: 10px;
  }
}
